body {
	background: rgb(0,155,255);
	background: radial-gradient(circle, rgba(0,155,255,1) 0%, rgba(0,212,255,1) 50%, rgba(174,241,255,1) 100%);
	font-family: pixelated;
}

@font-face {
            font-family: pixelated;
            src: url('NotoSansTC-Regular.otf');
        }

h1 {
	text-align: center;
	justify-content: center;
}

.progress {
	height: 30px;
	width: 300px;
	align-items: center;
	justify-content: center;
	background-color: #d8d8d8;
	border-radius: 20px;
}
			
.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0px 3px 3px -5px gray;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s ease;
	height: 100%;
	width: 0;
	opacity: 0;
}