body {
	background: rgb(0,155,255);
	background: linear-gradient(90deg, rgba(0,155,255,1) 0%, rgba(0,212,255,1) 50%, rgba(174,241,255,1) 100%);
	font-family: pixelated;
}

@font-face {
            font-family: pixelated;
            src: url('NotoSansTC-Regular.otf');
        }

h1 {
	text-align: center;
	justify-content: center;
}

button {
  margin: 20px;
  outline: none;
}

.buttons {
	width: 130px;
	height: 40px;
	padding: 10px 25px;
	border: 2px solid #000;
	font-family: pixelated;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	transition: all 0.3s ease;
	overflow: hidden;
}

.buttons:hover {
	color: #fff;
}

.buttons:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}

.buttons:hover:after {
  background: rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.progress {
	height: 10px;
	width: 300px;
	padding: 6px;
	border-radius: 30px;
	background: rgba(0, 0, 0, 0.25);  
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
			
.progress-done {
	height: 10px;
	border-radius: 30px;
	transition: 0.4s linear;  
	transition-property: width, background-color;
	width: 0%; 
	background-color: white;  
	animation: progressAnimation 6s;
}